[submodule ".local/bin/fast-syntax-highlighting"]
	path = .local/bin/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule ".config/alacritty/base16-alacritty"]
	path = .config/alacritty/base16-alacritty
	url = https://github.com/aarowill/base16-alacritty
